<nav data-uri="nowleb.com/_components/header/instances/nowleb-v2@published" id="pageHeader" data-editable="settings" class="header nowleb-app-display-none" data-analytics-aggregate-events="true">
  <div class="header__inner header__inner--subscription">
    <div class="header__subnav-mount">
      <div class="header__container">
        <div class="header__left">
            <div class="brand-logo">
              <a class="brand-logo__logo-link" href="https://nowleb.com" title="nowleb logo" data-zjs="click" data-zjs-component_id="https://nowleb.com" data-zjs-component_text="Main Logo" data-zjs-component_type="icon" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage">
                <span class="brand-logo__logo">
                  <span class="brand-logo__icon" style="display:inline-flex;  width: 166px; max-height: 33px;">
                    <img src="media/site/nowleb/nowleb_logo.png" alt="Nowleb Logo" style="height: 33px; width: auto;" />
                  </span>
                </span>
              </a>
            </div>
            <nav class="header__nav" style="visibility: visible;">
              <div class="header__nav-container">
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="/news.html" data-zjs="click" data-zjs-component_id="/news.html" data-zjs-component_text="NEWS" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/news" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    News
                  </a>
                </div>
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="/entertainment.html" data-zjs="click" data-zjs-component_id="/entertainment.html" data-zjs-component_text="Entertainment" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/entertainment" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Entertainment
                  </a>
                </div>
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="/business.html" data-zjs="click" data-zjs-component_id="/business.html" data-zjs-component_text="Business" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/business" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Business
                  </a>
                </div>
                <div class="header__nav-item" style="display: none;">
                  <a class="header__nav-item-link" href="/style.html" data-zjs="click" data-zjs-component_id="/style.html" data-zjs-component_text="Style" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/style" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Style
                  </a>
                </div>
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="/lifestyle.html" data-zjs="click" data-zjs-component_id="/lifestyle.html" data-zjs-component_text="lifestyle" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/lifestyle" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Lifestyle
                  </a>
                </div>
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="/travel.html" data-zjs="click" data-zjs-component_id="/travel.html" data-zjs-component_text="Travel" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/travel" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Travel
                  </a>
                </div>
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="/sports.html" data-zjs="click" data-zjs-component_id="/sports.html" data-zjs-component_text="Sports" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/sports" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Sports
                  </a>
                </div>
                <div class="header__nav-item" style="display: none;">
                  <a class="header__nav-item-link" href="/events.html" data-zjs="click" data-zjs-component_id="/events.html" data-zjs-component_text="Events" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/events" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Events
                  </a>
                </div>
                <div class="header__nav-item" style="display: none;">
                  <a class="header__nav-item-link" href="/weather.html" data-zjs="click" data-zjs-component_id="/weather.html" data-zjs-component_text="Weather" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/weather" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Weather
                  </a>
                </div>
                <div class="header__nav-item" style="display: none;">
                  <a class="header__nav-item-link" href="/games.html" data-zjs="click" data-zjs-component_id="/games.html" data-zjs-component_text="Games" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/games" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Games
                  </a>
                </div>
                <div class="header__nav-more" style="display: block;">
                  <a id="moreDropdown" class="header__nav-item-link header__nav-more-link header__nav-button" data-zjs="click" data-zjs-component_id="more_dropdown" data-zjs-component_text="More" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    <span class="header__nav-more--toggle-caret header__nav-more--toggle-caret-down">
                      More
                    </span>
                  </a>
                  <div class="header__nav-item-dropdown">
                    <div class="header__nav-item-dropdown-inner">
                      <a class="header__nav-item-dropdown-item" href="/news.html" data-zjs="click" data-zjs-component_id="/news.html" data-zjs-component_text="NEWS" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/news" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        News
                      </a>
                      <a class="header__nav-item-dropdown-item" href="/entertainment.html" data-zjs="click" data-zjs-component_id="/entertainment.html" data-zjs-component_text="Entertainment" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/entertainment" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        Entertainment
                      </a>
                      <a class="header__nav-item-dropdown-item" href="/business.html" data-zjs="click" data-zjs-component_id="/business.html" data-zjs-component_text="Business" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/business" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        Business
                      </a>
                      <a class="header__nav-item-dropdown-item" href="/style.html" data-zjs="click" data-zjs-component_id="/style.html" data-zjs-component_text="Style" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/style" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        lifestyle
                      </a>
                      <a class="header__nav-item-dropdown-item" href="/lifestyle.html" data-zjs="click" data-zjs-component_id="/lifestyle.html" data-zjs-component_text="lifestyle" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/lifestyle" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: block;">
                        Style
                      </a>
                      <a class="header__nav-item-dropdown-item" href="/sports.html" data-zjs="click" data-zjs-component_id="/sports.html" data-zjs-component_text="Travel" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/travel" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        Travel
                      </a>
                      <a class="header__nav-item-dropdown-item" href="/sports.html" data-zjs="click" data-zjs-component_id="/sports.html" data-zjs-component_text="Sports" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/sports" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        Sports
                      </a>
                      <a class="header__nav-item-dropdown-item" href="/events.html" data-zjs="click" data-zjs-component_id="/events.html" data-zjs-component_text="events" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/events" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: block;">
                        Events
                      </a>
                      <a class="header__nav-item-dropdown-item" href="/weather.html" data-zjs="click" data-zjs-component_id="/weather.html" data-zjs-component_text="Weather" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/weather" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: block;">
                        Weather
                      </a>
                      <a class="header__nav-item-dropdown-item" href="/games.html" data-zjs="click" data-zjs-component_id="/games.html" data-zjs-component_text="Games" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/games" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: block;">
                        Games
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="header__right" style="visibility: visible;">
            <div class="date-time" id="datetime"></div>
          </div>
        </div>
        <hr class="header__navigation-separator">
      </div>
    </div>
  </div>
</nav>
