<!-- components/top_ad.html -->
<div class="ad-slot-header__wrapper" style="height: auto;">
  <div class="ad-slot-header">
    <div class="ad-slot-header__container">
      <div class="ad-slot" data-path="header/ad-slot-header[0]/items" data-desktop-slot-id="ad_bnr_atf_01" data-mobile-slot-id="ad_bnr_atf_01" data-ad-label-text="Advertisement" data-unselectable="true" data-ad-slot-rendered-size="970x250">
        <div id="ad_bnr_atf_01" class="ad adfuel-rendered" style="">
          <div class="top-ad-wrapper" style="background-color: #d32030; height: 276px; display: flex; align-items: center; justify-content: center; width: 100%;">
            <iframe
              src="ads/top/top_ads.html"
              class="responsive-iframe"
              style="border: 0; width: 100%; height: 100%; max-width: 1200px;"
              loading="lazy"
              title="Top Ad"
              sandbox="allow-forms allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation allow-presentation"
              scrolling="no"
              frameborder="0"
              aria-label="Advertisement"
            ></iframe>
          </div>
        </div>
        <iframe class="resizeListenerIframe" src="about:blank" tabindex="-1" frameborder="0" aria-hidden="true"></iframe>
      </div>
    </div>
  </div>
</div>