<nav data-uri="nowleb.com/_components/header/instances/nowleb-v2@published" id="pageHeader" data-editable="settings" class="header nowleb-app-display-none" data-analytics-aggregate-events="true">
  <div class="header__inner header__inner--subscription">
    <div class="header__subnav-mount">
      <div class="header__container">
        <div class="header__left">
            <div class="brand-logo">
              <a class="brand-logo__logo-link" href="https://nowleb.com" title="nowleb logo" data-zjs="click" data-zjs-component_id="https://nowleb.com" data-zjs-component_text="Main Logo" data-zjs-component_type="icon" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage">
                <span class="brand-logo__logo">
                  <span class="brand-logo__icon" style="display:inline-flex;  width: 166px; max-height: 33px;">
                    <img src="media/site/nowleb/nowleb_logo.png" alt="Nowleb Logo" style="height: 33px; width: auto;" />
                  </span>
                </span>
              </a>
            </div>
            <nav class="header__nav" style="visibility: visible;">
              <div class="header__nav-container">
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="https://nowleb.com/us" data-zjs="click" data-zjs-component_id="https://nowleb.com/us" data-zjs-component_text="US" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/us" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    US
                  </a>
                </div>
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="https://nowleb.com/world" data-zjs="click" data-zjs-component_id="https://nowleb.com/world" data-zjs-component_text="World" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/world" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    World
                  </a>
                </div>
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="https://nowleb.com/politics" data-zjs="click" data-zjs-component_id="https://nowleb.com/politics" data-zjs-component_text="Politics" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/politics" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Politics
                  </a>
                </div>
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="https://nowleb.com/business" data-zjs="click" data-zjs-component_id="https://nowleb.com/business" data-zjs-component_text="Business" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/business" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Business
                  </a>
                </div>
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="https://nowleb.com/health" data-zjs="click" data-zjs-component_id="https://nowleb.com/health" data-zjs-component_text="Health" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/health" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Health
                  </a>
                </div>
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="https://nowleb.com/entertainment" data-zjs="click" data-zjs-component_id="https://nowleb.com/entertainment" data-zjs-component_text="Entertainment" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/entertainment" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Entertainment
                  </a>
                </div>
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="https://nowleb.com/style" data-zjs="click" data-zjs-component_id="https://nowleb.com/style" data-zjs-component_text="Style" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/style" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Style
                  </a>
                </div>
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="https://nowleb.com/travel" data-zjs="click" data-zjs-component_id="https://nowleb.com/travel" data-zjs-component_text="Travel" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/travel" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Travel
                  </a>
                </div>
                <div class="header__nav-item" style="display: block;">
                  <a class="header__nav-item-link" href="https://nowleb.com/sports" data-zjs="click" data-zjs-component_id="https://nowleb.com/sports" data-zjs-component_text="Sports" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/sports" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Sports
                  </a>
                </div>
                <div class="header__nav-item" style="display: none;">
                  <a class="header__nav-item-link" href="https://nowleb.com/science" data-zjs="click" data-zjs-component_id="https://nowleb.com/science" data-zjs-component_text="Science" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/science" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Science
                  </a>
                </div>
                <div class="header__nav-item" style="display: none;">
                  <a class="header__nav-item-link" href="https://nowleb.com/climate" data-zjs="click" data-zjs-component_id="https://nowleb.com/climate" data-zjs-component_text="Climate" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/climate" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Climate
                  </a>
                </div>
                <div class="header__nav-item" style="display: none;">
                  <a class="header__nav-item-link" href="https://nowleb.com/weather" data-zjs="click" data-zjs-component_id="https://nowleb.com/weather" data-zjs-component_text="Weather" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/weather" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Weather
                  </a>
                </div>
                <div class="header__nav-item" style="display: none;">
                  <a class="header__nav-item-link" href="https://nowleb.com/world/europe/ukraine" data-zjs="click" data-zjs-component_id="https://nowleb.com/world/europe/ukraine" data-zjs-component_text="Ukraine-Russia War" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/world/europe/ukraine" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Ukraine-Russia War
                  </a>
                </div>
                <div class="header__nav-item" style="display: none;">
                  <a class="header__nav-item-link" href="https://nowleb.com/world/middleeast/israel" data-zjs="click" data-zjs-component_id="https://nowleb.com/world/middleeast/israel" data-zjs-component_text="Israel-Hamas War" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/world/middleeast/israel" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Israel-Hamas War
                  </a>
                </div>
                <div class="header__nav-item" style="display: none;">
                  <a class="header__nav-item-link" href="https://nowleb.com/games" data-zjs="click" data-zjs-component_id="https://nowleb.com/games" data-zjs-component_text="Games" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/games" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    Games
                  </a>
                </div>
                <div class="header__nav-more" style="display: block;">
                  <a id="moreDropdown" class="header__nav-item-link header__nav-more-link header__nav-button" data-zjs="click" data-zjs-component_id="more_dropdown" data-zjs-component_text="More" data-zjs-component_type="link" data-zjs-container_id="nowleb.com/_components/header/instances/nowleb-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                    <span class="header__nav-more--toggle-caret header__nav-more--toggle-caret-down">
                      More
                    </span>
                  </a>
                  <div class="header__nav-item-dropdown">
                    <div class="header__nav-item-dropdown-inner">
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/us" data-zjs="click" data-zjs-component_id="https://nowleb.com/us" data-zjs-component_text="US" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/us" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        US
                      </a>
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/world" data-zjs="click" data-zjs-component_id="https://nowleb.com/world" data-zjs-component_text="World" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/world" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        World
                      </a>
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/politics" data-zjs="click" data-zjs-component_id="https://nowleb.com/politics" data-zjs-component_text="Politics" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/politics" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        Politics
                      </a>
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/business" data-zjs="click" data-zjs-component_id="https://nowleb.com/business" data-zjs-component_text="Business" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/business" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        Business
                      </a>
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/health" data-zjs="click" data-zjs-component_id="https://nowleb.com/health" data-zjs-component_text="Health" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/health" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        Health
                      </a>
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/entertainment" data-zjs="click" data-zjs-component_id="https://nowleb.com/entertainment" data-zjs-component_text="Entertainment" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/entertainment" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        Entertainment
                      </a>
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/style" data-zjs="click" data-zjs-component_id="https://nowleb.com/style" data-zjs-component_text="Style" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/style" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        Style
                      </a>
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/travel" data-zjs="click" data-zjs-component_id="https://nowleb.com/travel" data-zjs-component_text="Travel" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/travel" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        Travel
                      </a>
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/sports" data-zjs="click" data-zjs-component_id="https://nowleb.com/sports" data-zjs-component_text="Sports" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/sports" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                        Sports
                      </a>
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/science" data-zjs="click" data-zjs-component_id="https://nowleb.com/science" data-zjs-component_text="Science" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/science" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: block;">
                        Science
                      </a>
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/climate" data-zjs="click" data-zjs-component_id="https://nowleb.com/climate" data-zjs-component_text="Climate" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/climate" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: block;">
                        Climate
                      </a>
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/weather" data-zjs="click" data-zjs-component_id="https://nowleb.com/weather" data-zjs-component_text="Weather" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/weather" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: block;">
                        Weather
                      </a>
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/world/europe/ukraine" data-zjs="click" data-zjs-component_id="https://nowleb.com/world/europe/ukraine" data-zjs-component_text="Ukraine-Russia War" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/world/europe/ukraine" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: block;">
                        Ukraine-Russia War
                      </a>
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/world/middleeast/israel" data-zjs="click" data-zjs-component_id="https://nowleb.com/world/middleeast/israel" data-zjs-component_text="Israel-Hamas War" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/world/middleeast/israel" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: block;">
                        Israel-Hamas War
                      </a>
                      <a class="header__nav-item-dropdown-item" href="https://nowleb.com/games" data-zjs="click" data-zjs-component_id="https://nowleb.com/games" data-zjs-component_text="Games" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com/games" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: block;">
                        Games
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="header__right" style="visibility: visible;">
            <div class="date-time" id="datetime"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>