
<!-- components/top_ad.html -->
<div data-uri="nowleb.com/_components/ad-slot-header/instances/nowleb-v1@published" class="ad-slot-header__wrapper" style="height: 276px;">
  <div class="ad-slot-header">
    <div class="ad-slot-header__container adSlotHeaderContainer">
      <div data-uri="nowleb.com/_components/ad-slot/instances/nowleb-v1@published" class="ad-slot adSlotLoaded" data-path="header/ad-slot-header[0]/items" data-desktop-slot-id="ad_bnr_atf_01" data-mobile-slot-id="ad_bnr_atf_01" data-ad-label-text="Advertisement" data-unselectable="true" data-ad-slot-rendered-size="1x1">
        <div id="ad_bnr_atf_01" class="ad adfuel-rendered" style="" data-google-query-id="COignOvL0I0DFXrDuwgd7UMX0A">
          <div style="border: 0pt none;">

  <iframe
    src="ads/top/top_ads.html"
    class="responsive-iframe"
    width="100%"
    height="auto"
    style="border: 0px; vertical-align: bottom;"
    loading="lazy"
    title="Top Ad"
    sandbox="allow-forms allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation allow-presentation"
    name="ads_iframe/nowleb/homepage/landing_0"
    title="3rd party ad content"
    width="1" height="1"
    scrolling="no"
    marginwidth="0"
    marginheight="0"
    frameborder="0"
    aria-label="Advertisement"
    tabindex="0"
    allow="private-state-token-redemption;attribution-reporting"
  ></iframe>

  <iframe class="resizeListenerIframe" src="about:blank" tabindex="-1" frameborder="0" aria-hidden="true"></iframe>

</div>
