<nav data-uri="nowleb.com/_components/header/instances/nowleb-v2@published" id="pageHeader" data-editable="settings" class="header nowleb-app-display-none" data-analytics-aggregate-events="true">
  <div class="header__inner header__inner--subscription">
    <div class="header__subnav-mount">
      <div class="header__container">
        <div class="header__left">
          <div class="brand-logo">
            <a class="brand-logo__logo-link" href="https://nowleb.com" title="nowleb logo" data-zjs="click" data-zjs-component_id="https://nowleb.com" data-zjs-component_text="Main Logo" data-zjs-component_type="icon" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="https://nowleb.com" data-zjs-page_type="section" data-zjs-page_variant="landing_homepage">
              <span class="brand-logo__logo">
                <span class="brand-logo__icon" style="display:inline-flex;  width: 166px; max-height: 33px;">
                  <img src="media/site/nowleb/nowleb_logo.png" alt="Nowleb Logo" style="height: 33px; width: auto;" />
                </span>
              </span>
            </a>
            <a class="brand-logo__theme-link" href="/entertainment" data-zjs="click" data-zjs-component_id="nowleb.com/entertainment" data-zjs-component_text="Entertainment" data-zjs-component_type="icon" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="nowleb.com/entertainment" data-zjs-page_type="section" data-zjs-page_variant="landing_section">
              <span class="brand-logo__theme brand-logo__section-text">Entertainment</span>
            </a>
          </div>
        
          <nav class="header__nav" style="visibility: visible;">
            <div class="header__nav-container">
              <div class="header__nav-item" style="display: block;">
                <a class="header__nav-item-link" href="/entertainment/movies" data-zjs="click" data-zjs-component_id="nowleb.com/entertainment/movies" data-zjs-component_text="Movies" data-zjs-component_type="link" data-zjs-container_id="cms.nowleb.com/_components/header/instances/entertainment-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="nowleb.com/entertainment/movies" data-zjs-page_type="section" data-zjs-page_variant="landing_section" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                  Movies
                </a>
              </div>
              <div class="header__nav-item" style="display: block;">
                <a class="header__nav-item-link" href="/entertainment/tv-shows" data-zjs="click" data-zjs-component_id="nowleb.com/entertainment/tv-shows" data-zjs-component_text="Television" data-zjs-component_type="link" data-zjs-container_id="cms.nowleb.com/_components/header/instances/entertainment-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="nowleb.com/entertainment/tv-shows" data-zjs-page_type="section" data-zjs-page_variant="landing_section" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                  Television
                </a>
              </div>
              <div class="header__nav-item" style="display: block;">
                <a class="header__nav-item-link" href="/entertainment/celebrities" data-zjs="click" data-zjs-component_id="nowleb.com/entertainment/celebrities" data-zjs-component_text="Celebrity" data-zjs-component_type="link" data-zjs-container_id="cms.nowleb.com/_components/header/instances/entertainment-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="nowleb.com/entertainment/celebrities" data-zjs-page_type="section" data-zjs-page_variant="landing_section" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                  Celebrity
                </a>
              </div>
              <div class="header__nav-more" style="display: none;">
                <a id="moreDropdown" class="header__nav-item-link header__nav-more-link header__nav-button" data-zjs="click" data-zjs-component_id="more_dropdown" data-zjs-component_text="More" data-zjs-component_type="link" data-zjs-container_id="cms.nowleb.com/_components/header/instances/entertainment-v2@published" data-zjs-container_type="navigation" data-zjs-destination_url="" data-zjs-page_type="section" data-zjs-page_variant="landing_section" data-zjs-navigation-type="main" data-zjs-navigation-location="header">
                  <span class="header__nav-more--toggle-caret header__nav-more--toggle-caret-down">
                    More
                  </span>
                </a>
                <div class="header__nav-item-dropdown">
                  <div class="header__nav-item-dropdown-inner">
                    <a class="header__nav-item-dropdown-item" href="/entertainment/movies" data-zjs="click" data-zjs-component_id="nowleb.com/entertainment/movies" data-zjs-component_text="Movies" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="nowleb.com/entertainment/movies" data-zjs-page_type="section" data-zjs-page_variant="landing_section" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                      Movies
                    </a>
                    <a class="header__nav-item-dropdown-item" href="/entertainment/tv-shows" data-zjs="click" data-zjs-component_id="nowleb.com/entertainment/tv-shows" data-zjs-component_text="Television" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="nowleb.com/entertainment/tv-shows" data-zjs-page_type="section" data-zjs-page_variant="landing_section" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                      Television
                    </a>
                    <a class="header__nav-item-dropdown-item" href="/entertainment/celebrities" data-zjs="click" data-zjs-component_id="nowleb.com/entertainment/celebrities" data-zjs-component_text="Celebrity" data-zjs-component_type="link" data-zjs-container_id="" data-zjs-container_type="navigation" data-zjs-destination_url="nowleb.com/entertainment/celebrities" data-zjs-page_type="section" data-zjs-page_variant="landing_section" data-zjs-navigation-type="main" data-zjs-navigation-location="header" style="display: none;">
                      Celebrity
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div> 
  </div>
</nav>
